{{ define "navbar" }}
{{ $isRAP   := and (hasAdmin .Context.User.Privileges) (isRAP .Path) }}
{{ $isAdmin := hasAdmin .Context.User.Privileges }}
{{ $ds      := band .ClientFlags 1 }}
<div class="triangles-1">

	<div class="ui secondary fixed-height stackable black background main menu no margin bottom  kotrik-bar" id="navbar" style="
	    background-image: url(https://osu.gatari.pw/static/images/icons/button.svg);
	    background-color: #5ebdff;
	    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
	    /* background-size: 25%; */
	    position: relative;
	    z-index: 5;
	">
	<div class="ui container">
		<div class="item">
			<b><a href="/" title="{{ .T "Home page" }}"><img class="ripple logo" src="/static/logos/text.png" alt="osu!thailand"></a></b>
		</div>
		{{ if $isRAP }}
			{{/*
			Note:
				RAP navbar will be completely different from standard navbar,
				meaning it will have the buttons and all the stuff that are in
				the current RAP's sidebar.
			*/}}
		{{ else }}
		<div class="ui dropdown item">
			<span>{{ .T "กระดานคะแนน" }}</span>
			<div class="menu">
				{{ navbarItem .Path (.T "Vanilla") "/leaderboard" }}
				{{ navbarItem .Path (.T "Relax") "/relaxboard" }}
			</div>
		</div>
			<div class="ui dropdown item">
				<span>{{ .T "ช่วยเหลือ" }}</span>
				<div class="menu">
					{{ navbarItem .Path (.T "เกี่ยวกับ") "/about" }}
					{{ navbarItem .Path (.T "กฎ") "/doc/rules" }}
					{{ navbarItem .Path (.T "เอกสาร") "/doc" }}
					<div class="divider"></div>
					{{ navbarItem .Path (.T "ดิสคอร์ด") "https://discord.gg/sysDpeE" }}
					{{ navbarItem .Path (.T "ช่องทางสอบถาม") "https://discord.gg/sysDpeE" }}
				</div>
			</div>
			<div class="ui dropdown item">
				<span>{{ .T "แคลน" }}</span>
				<div class="menu">
					{{ navbarItem .Path (.T "กระดานแคลน") "/clans?mode=0" }}
					{{ navbarItem .Path (.T "สร้างแคลน [เร็วๆนี้]") "/" }}
				</div>
			</div>
			{{ navbarItem .Path (.T "โหลดสวิตเชอร์") "/switcher" }}
			{{ if .Context.User.Username }}
			{{ end }}
			<div class="ui dropdown item">
				<span>{{ .T "อยากช่วย?" }}</span>
				<div class="menu">
					{{ navbarItem .Path (.T "BAT [ยังไม่รับสมัคร]") "" }}
					{{ navbarItem .Path (.T "Replay Recorder [ยังไม่รับสมัคร]") "/" }}
					{{ navbarItem .Path (.T "Replay Checker [ยังไม่รับสมัคร]") "/" }}
				</div>
			</div>
			{{ if $isAdmin }}{{ navbarItem .Path (.T "JAP" | printf "<b>%s</b>") "https://old.juyurisan.tk" }}{{ end }}
		{{ end }}
		<div class="firetrucking-right-menu">
			<div class="item">
				<div class="ui search" id="user-search">
					<div class="ui icon input">
						<input class="prompt" type="text" placeholder="{{ .T "Looking for someone?" }}" id="user-search-input">
						<i class="search link icon"></i>
					</div>
				</div>
			</div>
			{{ if .Context.User.Username }}
				<div class="ui dropdown item">
					<img class="ui avatar image" src="{{ config "AvatarURL" }}/{{ .Context.User.ID }}">
					<div class="menu">
						{{ navbarItem .Path (.T "โปรไฟล์") (printf "/u/%d" .Context.User.ID) }}
						{{ navbarItem .Path (.T "เพื่อน (บัค)") "/friends" }}
						{{ navbarItem .Path (.T "การตั้งค่า") "/settings" }}
						{{ navbarItem .Path (.T "ออกจากระบบ") (printf "/logout?k=%s" (.Session.Get "logout")) }}
					</div>
				</div>
			{{ else }}
			<div class="ui dropdown item">
				<img class="ui avatar image" src="{{ config "AvatarURL" }}/0">
				<div class="menu">
					{{ navbarItem .Path (.T "เข้าสู่ระบบ") "/login" }}
					{{ navbarItem .Path (.T "สมัคร") "/register" }}
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</div>
</div>

{{ end }}
